<!-- a component has 4 main files: -->
<!-- 1. app-component.html: the view template of the app-component class-->
<!-- 2. app-component.scss -->
<!-- 3. app-component.spec.ts -->
<!-- 4. app-component.ts: the main component file where we specify 
      properties and methods
-->


<!-- mixing static html with dynamic content -->
<!-- we use {{}} for data-binding, the value is replaced with the value of the title property -->
<!-- <h2>Welcome to {{ title }}</h2>
<p>Let's learn more about Angular</p>
<p>{{ message }}</p> -->


<div>
  <app-container></app-container>

</div>