nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: orange;


  ul {
    display: flex;
    gap: 16px;
  }

  a {
    color: black;
  }

}